@inherits LayoutComponentBase

<div class="border-1 shadow rounded bg-light p-1">
    <h4 class="text-center text-white bg-success p-2 rounded">Администрирование</h4>
    <div class="row m-0">
        <NavLink class="btn btn-outline-success mb-1" href="online" Match="NavLinkMatch.All"
            ActiveClass="btn-success text-white">
            <span class="fa fa-home" aria-hidden="true"></span> Главная админки
        </NavLink>
        <NavLink class="btn btn-outline-success mb-1" href="online/first" ActiveClass="btn-success text-white">
            <span class="fa fa-calculator" aria-hidden="true"></span> Первая страница
        </NavLink>
    </div>
</div>
