@inherits LayoutComponentBase

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <NavLink class="nav-link" href="online" @onclick="OnMenuClickCallback">
            Админка
        </NavLink>
    </li>
</ul>

@code {
    [Parameter]
    public EventCallback OnMenuClickCallback { get; set; }
}