<div class="mt-2 p-2 mb-2 bg-success text-white rounded-2 shadow">
    <h1 class="display-3 my-5 text-center"><strong>Кузнецкие приложения</strong></h1>
    <p class="lead">Информационный сайт по программированию на языке C#.</p>
    <hr>
    <p>Данный сайт посвящен языку программирования C#. На сайте можно найти материалы по таким направлениям, как язык C# и семейство технологий .NET (ASP.NET, WPF, Entity Framework и т.д.), работа с базами данных (MS SQL Server).</p>
</div>