<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownInfo" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Программирование
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
            <li>
                <a asp-controller="news" asp-action="index" class="dropdown-item">Новости</a>
            </li>
            <li>
                <a asp-controller="sharp" asp-action="index" class="dropdown-item">Все</a>
            </li>
            <li>
                <a asp-controller="sharp" asp-action="general" class="dropdown-item">Общее .NET и C#</a>
            </li>
            <li>
                <a asp-controller="sharp" asp-action="desktop" class="dropdown-item">C# Настольные приложения</a>
            </li>
            <li>
                <a asp-controller="sharp" asp-action="web" class="dropdown-item">C# Веб приложения</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Apps" asp-action="Index">Приложения</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Books" asp-action="Index">Книги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="About">О нас</a>
    </li>
</ul>
