@model IEnumerable<PostCategoryWebModel>
@{
    ViewBag.Title = "Общее .NET и C#";
}

<div class="row">
    <div class="col-md-4 col-lg-3 mb-1">
        <partial name="Partial/_LeftSidebarPartial" />
    </div>
    <div class="col-md-8 col-lg-9 mb-1">
        <div class="border-1 bg-light shadow rounded-1 p-2">
            <h1>@ViewBag.Title</h1>

            <p>Общее по C# и платформе .NET.</p>

            <partial name="Partial/TitlesPartial" model="Model" />
        </div>
    </div>
</div>
